<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Contact</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <%= image_tag "illustrations/page-title.png", class:"bg-shape-1 w-100"%>
  <%= image_tag "illustrations/leaf-pink-round.png", class:"bg-shape-2"%>
  <%= image_tag "illustrations/dots-cyan.png", class:"bg-shape-3"%>
  <%= image_tag "illustrations/leaf-orange.png", class:"bg-shape-4"%>
  <%= image_tag "illustrations/leaf-yellow.png", class:"bg-shape-5"%>
  <%= image_tag "illustrations/dots-group-cyan.png", class:"bg-shape-6"%>
  <%= image_tag "illustrations/leaf-cyan-lg.png", class:"bg-shape-7"%>
</section>

