<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Portfolio Template</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body>
  

<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-tertiary h3" href="index.html">
      <i class="ti-shortcode" style="font-weight: 800; font-size: 50px;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%=render partial: 'navigation'%> 
  </nav>
</header>

<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary" style="top: -0px;">
          SREEDEV<br>KODICHATH<br>
          <small style="font-size: 25px; margin-top: -15px;">
            Software Engineer
          </small>
        </h1>
        
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <%= image_tag "illustrations/leaf-bg.png", class: 'img-fluid w-100'%>
  </div>
  <div class="layer" id="l2">
    <%= image_tag "illustrations/dots-cyan.png" %>
  </div>
  <div class="layer" id="l3">
    <%= image_tag "illustrations/leaf-orange.png" %>
  </div>
  <div class="layer" id="l4">
    <%= image_tag "illustrations/dots-orange.png" %>
  </div>
  <div class="layer" id="l5">
    <%= image_tag "illustrations/leaf-yellow.png" %>
  </div>
  <div class="layer" id="l6">
    <%= image_tag "illustrations/leaf-cyan.png" %>
  </div>
  <div class="layer" id="l7">
    <%= image_tag "illustrations/dots-group-orange.png" %>
  </div>
  <div class="layer" id="l8">
    <%= image_tag "illustrations/leaf-pink-round.png" %>
  </div>
  <div class="layer" id="l9">
    <%= image_tag "illustrations/leaf-cyan-2.png" %>
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="https://www.facebook.com/sreedevness" target="_blank"><i class="ti-facebook"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://www.instagram.com/sreedevness/" target="_blank"><i class="ti-instagram"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#" target="_blank"><i class="ti-github"></i></a></li>
    <li class="mb-3"><a class="text-white" href="#" target="_blank"><i class="ti-twitter"></i></a></li>
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">
          I'm a passionate software engineer based in <i>Bengaluru, <small> KA (IN)</small></i>, focused on innovating viable, robust and user-focused solutions across industries by way of building high quality web applications and backend services for various platforms.  </p>
        <a href="/about" class="btn btn-transparent">know more</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- skills -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Skills</h2>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157">
            <div class="wave" data-progress="90"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">API Development & Integration (90%)<br>&nbsp;</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#9473e6">
            <div class="wave" data-progress="60"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Software Architecture & Planning (60%)</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#bdecf6">
            <div class="wave" data-progress="80"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Web Application Development (80%)<br>&nbsp;</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="#ffbcaa">
            <div class="wave" data-progress="70"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">Web Application Design (70%)<br>&nbsp;</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /skills -->

<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Experience</h2>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <%= image_tag "experience/icon-1.png" %>
        <p class="mb-0">Dec 2017 - Feb 2018</p>
        <h4>Software Developer (Python)</h4>
        <h6 class="text-light">Infineye Technologies, <i>TN, IN</i></h6>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <%= image_tag "experience/icon-2.png" %>
        <p class="mb-0">Feb 2018 - Feb 2019</p>
        <h4>Software Engineer (Ruby on Rails)</h4>
        <h6 class="text-light">HousingMan.com, <i>KA, IN</i></h6>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <%= image_tag "experience/icon-3.png" %>
        <p class="mb-0">Feb 2019 - Present</p>
        <h4>Software Engineer (Ruby on Rails)</h4>
        <h6 class="text-light">Riskcovry.com, <i>KA, IN</i></h6>
      </div>
    </div>
  </div>
</section>
<!-- ./experience -->

<!-- education -->
<section class="section position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Education</h2>
      </div>
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p class="text-dark mb-1">2018</p>
            <h4>Bachelor of Commerce</h4>
            <p class="mb-0 text-light">Bharathiar University, <i>KA, IN</i></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-80">
        <div class="d-flex">
          <div class="mr-lg-5 mr-3">
            <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
          </div>
          <div>
            <p class="text-dark mb-1">2015</p>
            <h4>Senior Secondary Education</h4>
            <p class="mb-0 text-light">Our Own English High School, <i>Sharjah, AE</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bg image -->
  <%= image_tag "backgrounds/education-bg.png", class: "img-fluid edu-bg-image w-100" %>
</section>
<!-- /education -->

<!-- services -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Services</h2>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-palette icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Web Application Development</h4>
            <p>Web applications using the latest and greatest technologies built around your business logic to provide innovative solutions to your business problems</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card active-bg-primary hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-vector icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">API Solutions</h4>
            <p>Development of high quality APIs for consumption on other platforms including but not limited to Android, iOS & native applications</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body text-center px-4 py-5">
            <i class="ti-panel icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">Software Architecture Design</h4>
            <p>Innovating state of the art software architecture models focused on solving problems at hand using only optimum resources.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /services -->

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <%= image_tag "portfolio/item-1.png", class: "img-fluid rounded w-100" %>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <%= image_tag "portfolio/item-2.png", class: "img-fluid rounded w-100" %>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <%= image_tag "portfolio/item-3.png", class: "img-fluid rounded w-100" %>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <%= image_tag "portfolio/item-4.png", class: "img-fluid rounded w-100" %>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <%= image_tag "portfolio/item-5.png", class: "img-fluid rounded w-100" %>
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

<!-- testimonial -->
<% if @testimonials.present? %>
  <%= render partial: 'testimonial', locals: {testimonials: @testimonials}%>
<% end %>
<!-- /testimonial -->

<!-- client logo slider -->
<%#= render partial: 'client_logos'%>
<!-- /client logo slider -->

<!-- blog -->
<% if @blog_posts.present? %>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Blogs</h2>
        </div>
        <% @blog_posts.each do |post|%>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <article class="card blog_post_card shadow">
              <%= image_tag post.image, class: "rounded card-img-top", style: "height: 300px;" %>
              <div class="card-body">
                <h4 class="card-title"><a class="text-dark" href="blog-single.html"><%=post.title%></a>
                </h4>
                <p class="card-text"><%=post.abstract%></p>
              </div>
              <div class="card-footer" style="padding: 0px;">
                <a href="<%=post.url%>" target="_blank" class="btn btn-sm form-control btn-tertiary" style="padding-top: 15px;">Read More</a>
              </div>
            </article>
          </div>
        <% end %>  
      </div>
    </div>
  </section>
<% end %>
<!-- /blog -->
<!-- contact -->
<section class="section section-on-footer" data-background="images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="#" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">
            <a href="mailto:sreedev@icloud.com" class="text-white">sreedev@icloud.com</a>
            
          </p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">
            <a href="tel:+919600928275" class="text-white">+91 9600-928275</a>
          </p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">Bengaluru, India.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Sreedev Kodichath &copy; <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> All Rights Reserved</p>
  </div>
</footer>

</body>
</html>
