<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">
            <a href="mailto:<%=profile_settings[:email]%>" class="text-white"><%=profile_settings[:email]%></a>
          </p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">
            <a href="tel:<%=profile_settings[:mobile]%>" class="text-white"><%=profile_settings[:mobile]%></a>
          </p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary"><%=profile_settings[:address]%></p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light"><%="#{profile_settings[:first_name]} #{profile_settings[:last_name]}"%> &copy; <script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
    </script> All Rights Reserved</p>
  </div>
</footer>
